/* 
font-family: 'Lato', sans-serif;
font-family: 'Righteous', cursive;
 */

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 10px;
 }

body { 
 box-sizing: border-box;
 background-color: black;
 font-family: 'Lato', sans-serif;
  }
button{
  cursor: pointer;
}
  #welcome{
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    z-index: 400;
    justify-content: center;
    align-items: center;
  }
  #modal{
    width: 500px;
    border: 5px dashed gray;
    background-color: #d9d7ce;
    background-size: cover;
    color:black;
    padding: 2.5rem;
    text-align: center;
    font-size: 2rem;
    line-height: 5rem;
  }
  #modal h1{
    color: rgb(215, 174, 71);
    text-shadow: 1px 1px 1px rgb(223, 58, 232);
    font-family: 'Righteous', cursive;
  }
  #modal button{
    padding: 1rem;


  }
  #instructions{
    display: none;
    font-size: 1.2rem;
    background-color: #d9d7ce;
    border: 5px dashed gray;
  }
  #how-to-list{
    position: relative;
    margin-left:8%;
    text-align: left;
    list-style: square;
  }
  
  #player-health{
    
    position: fixed;
    top: 5px;
    left: 20px;
    height: 115px;
    width: 150px;
    padding:15px;
    border: 5px dashed gray;
    background-color: #d9d7ce;
    z-index: 100;
    font-size: 1.7rem;
    box-shadow: 2px 2px 3px black;
    opacity: 0.9;
  }
  #player-health h4{
    font-family: 'Righteous', cursive;
  }
  #health-bar{
    display:block;
    width:100px;
    height: 10px;
    margin: 6px;
    padding: 10px;
    background-color: red;
  }
  

  #current-list{
    position: absolute;
    font-family: 'Righteous', cursive;
    padding: 10px;
    padding-top:20px;
    top:175px;
    left: 20px;
    width: 150px;
    height: 200px;
    z-index: 100;
    font-size: 2rem;
    background-color: #d9d7ce;
    border: 5px dashed gray;
    box-shadow: 2px 2px 3px black;
    opacity: 0.9;
   
  }
  #current-list li{
    text-align: center;
    list-style: none;
    letter-spacing: 0.2rem;
    
  }
  /**************************
  Battle Screen
  ******************************/
  #battle{
    display:none;
   
  
  }
  #attacking-monster{
    display: block;
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    top: 10px;
    right: 15%;
    width: 300px;
    height: 500px;
   
  }
  #monster-health-container{
    box-sizing: border-box;
    display:block;
    position: absolute;
    top: 0;
    right: 0%;
    width: 70px;
    height: 25px;
    margin: 6px;
    border: solid white 1px;
  }
  #monster-health{
    box-sizing: border-box;
    display:block;
    position: absolute;
    top: 0;
    right: 0%;
    max-width: 95%;
    height: 23px;
    background-color: purple;
  }
  #player-avatar{
    display: block;
    position: fixed;
    bottom: 0px;
    left: 15%;
    border: 1px solid black;
    width:300px;
    height: 500px;
    background: url(img/wizard.jpg);
    background-size: cover;
    background-position: center;
  }
  #battle-options{
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    bottom: 0;
    height: 12rem;
    padding: 10px;
    border: 5px dashed gray;
    background-color: #d9d7ce;
  }
  #game-text{
    display: block;
    width: 50%;
    margin: 0% 25% 0% 0%;
    height: 90%;
    background-color: aliceblue;
    text-align: left;
    line-height: 4rem;
    font-size: 2rem;
  }
  #game-text-1, #game-text-2{
    margin-left: 20px;
  }
  #battle-options button{
    font-family: 'Righteous', cursive;
    margin: 5px;;
    width: 7%;
    height: 90%;
    padding: 7px;
  }
  /* .fireball-animation-object{
    display:none;
    opacity: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:red;
    left: 10%;
    bottom: 10%;
    z-index: 300;
  }
.fireball-animation{
    opacity: 1;
    animation-name: fireball;
    animation-duration: 2.6s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  } */
/* 
  @keyframes fireball {
    0%{
      transform: scale(.0);
      opacity: 0;
    }
    99%{
      transform: scale(1.2);
      left: 70%;
      bottom: 80%;
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  } */
  /**********
  Navagation buttons
  *************/
  #move-room-buttons{
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    background-image: url(img/wall.jpg);
    background-size: cover;
    
    
  }
  #move-room-buttons button{
    width: 300px;
    height: 500px;
    background-color: black;
    font-size: 3rem;
    font-family: 'Righteous', cursive;
    color: rgb(215, 174, 71);
    clip-path:polygon(0%30%, 50% 0%, 100% 30%, 100% 100%, 0% 100%);  
  }

  /****************
  Game over Screen
  *****************/

    
  #gameover-screen{
    font-family: 'Righteous', cursive;
    position: fixed;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(img/game_over_wall.jpg);
    background-color: black;
    
    
  }
  #gameover-screen h1{
    color: red;
    font-size: 72px;
    text-shadow: 2px 2px 3px black;
    letter-spacing: 2.7rem;
  }
  #gameover-screen button{
    
    font-family: 'Righteous', cursive;
    margin: 40px;
    font-size: 1.5rem;
    letter-spacing: 1.1rem;
    line-height: 4rem;
    width: 200px;
    height: 400px;
    color: white;
    background-color: black;
    bottom: 0;
    clip-path:polygon(0%30%, 50% 0%, 100% 30%, 100% 100%, 0% 100%);  
  }

  #win-screen{
    position: fixed;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    width: 100vw;
    height: 100vh;
    color: black;
    background-image: url(img/stone_wall.jpg);
    background-size: cover;
  }
  #win-screen h1{
    margin: 15px;
    margin-right: 10%;
    font-size:56px;
    font-family: 'Righteous', cursive;
    color: white;
    text-shadow: 2px 2px 3px red;;
  }
  #win-screen button{
    font-family: 'Righteous', cursive;
    font-size: 1.5rem;
    letter-spacing: 1.1rem;
    line-height: 4rem;
    align-self: flex-start;
    justify-content: flex-end;
    padding: 25px;
    margin-left: 20%;
    width: 200px;
    height: 400px;
    color: white;
    background-color: black;
    z-index: 3;
    bottom: 0;
    clip-path:polygon(0%30%, 50% 0%, 100% 30%, 100% 100%, 0% 100%);  
  }
